aws:
    access_key_id: ''
    secret_access_key: ''

groot:
    access_key: 'INSERT_TOKEN_HERE'
    host: 'http://localhost:8000'

jwt:
  secret: 'SECRET_JWT_TOKEN'

database:
  user: root
  password: ""
  hostname: localhost
  name: groot_recruiter_service

test_database:	
  user: root
  password: ""
  hostname: localhost
  name: groot_recruiter_service_test