aws:
    access_key_id: ''
    secret_access_key: ''

encryption:
    secret: 'SALT'

email:
    username: 'testemail@gmail.com'
    password: 'password for email'

db:	
    user: root
    password: test
    hostname: localhost
    name: groot_recruiter_service

groot:
    access_key: 'INSERT_TOKEN_HERE'

session:
    token: 'INSERT_TOKEN_HERE'