aws:
    access_key_id: ''
    secret_access_key: ''

email:
    username: 'testemail@gmail.com'
    password: 'password for email'

groot:
    access_key: 'INSERT_TOKEN_HERE'
    request_key: 'SECRET_RECRUITER_TOKEN'

jwt:
  secret: 'SECRET_JWT_TOKEN'